<!DOCTYPE html>
<html>
<head>
	<title>Anywhere Door Collection</title>
    <link rel="stylesheet" href="../static/style.css">


<link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700;800&family=Lexend:wght@400;500;600;700;800&family=Piazzolla:wght@400;500;600;700;900&family=Shippori+Mincho:wght@400;500;600;700;800&family=Sora:wght@400;500;600;700;800&family=Syne:wght@400;500;600;700&display=swap" rel="stylesheet">


</head>



<div id="text">

	<div id="title">
		<a href=index.html>Anywhere <br> Door <br> Collection </a>
	</div>



	<div id="create">
		<a href="/createDoor">➕ Create Your Own Door</a>
	</div>

	<ul id="nav">
		<li><a href="/">feature</a></li>
		<li><a href="/indexNew">new</a></li>
		<li id="under"><a href="/indexAll">all</a></li>
	</ul>


</div>

<!-- Photo Grid -->
<div class="grid-container" id="theGrid"> </div>


<body>

	<div id="bg">
		<img src="/static/imga/bg.gif" alt="filter">
	</div>


	<script src="../static/script_allDoor.js"></script>


</body>

</html>